
<footer>
  <div class="footer-top">
    <div class="footer-container">
      <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12 section-one footer-headers">
          <h3>Section 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 section-two footer-headers">
          <h3>Section 2</h3>
          <ul>
            <li><%= link_to 'Home', root_path, class: "footer-links"%></li>
            <li><%= link_to 'About', about_path, class: "footer-links"%></li>
            <li><%= link_to 'Articles', articles_path, class: "footer-links"%></li>
            <li><%= link_to 'Sign Up', "#", class: "footer-links"%></li>
            <li><%= link_to 'Contact', "#", class: "footer-links"%></li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 section-three footer-headers">
          <h3>Social</h3>
          <p>Follow me to stay up to date on all that's happening with us!</p>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 section-four footer-headers">
          <h3>Our Newsletter</h3>
          <form class="" action="index.html" method="post">
            <input class="sub-email" type="email">
            <input class="sub-button" type="submit" name="" value="Subscribe">
          </form>
        </div>

      </div>

      <div class="copyright-container">
          <small>Copyright &copy; 2020 Kyle Klaiber</small>
      </div>
    </div>
  </div>
</footer>
